@import "../styles/variable.scss";

.mainItem {
  border-left: solid 3px $blue;
  padding-left: 8px;
}

.subList {
  border-left: solid 2px $sub-blue;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 40px;
  padding-left: 0px;
  padding-right: 64px;
  list-style: none;

  &__item {
    padding-left: 8px;
  }
}
